server:
  port: 8000
spring:
  application:
    name: gateway
  config:
    import: 'optional:consul:'
  cloud:
    consul:
      enabled: true
      discovery:
        # Get only services that are passing the health check
        query-passing: true
      config:
        prefixes:
          - config
        format: YAML
        default-context: application
        watch:
          enabled: true
          delay: 3000
          wait-time: 5
    gateway:
      server:
        webflux:
          routes:
            - id: multiplication
              uri: lb://multiplication/
              predicates:
                - Path=/challenges/**,/attempts/**,/users/**
            - id: gamification
              uri: lb://gamification/
              predicates:
                - Path=/leaders
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "http://localhost:3000"
                allowedHeaders:
                  - "*"
                allowedMethods:
                  - "GET"
                  - "POST"
                  - "OPTIONS"
          default-filters:
            - name: Retry
              args:
                retries: 3
                methods: GET,POST
logging:
  level:
    org.springframework.amqp.rabbit.connection.CachingConnectionFactory: WARN
    # Uncomment the configuration below if you want to enable route matching logs
    #org.springframework.cloud.gateway.handler.predicate: trace